*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff; /* White color code */
    background-image: linear-gradient(135deg, #ffffff 0%, #f0f0f0 100%); /* Smooth gradient for shine effect */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Ensures background remains fixed while scrolling */
}

a{
    text-decoration: none;
    color: #fff;
}

.servicesHeroSec{
    width: 100%;
    height: 75vh;
    background: url(../images/newbgd.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.serviceHeroOverlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px 10vw;
}

.serviceHeroOverlay span{
    padding: 5px;
    height: 120px;
    background-color: purple;
    margin: 15px;
    border-radius: 15px;
}

.serviceHeroTexts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.our{
    text-align: left;
    width: 100%;
    text-transform: capitalize;
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 45px;
    color: purple;
}

.servicesText{
    font-size: 45px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
}

@media screen and (max-width:767px){
    .servicesHeroSec{
        width: 100%;
        height: 75vh;
        background: url(../images/newbgd.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .serviceHeroOverlay{
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 15px 10vw;
    }
    
    .serviceHeroOverlay span{
        padding: 5px;
        height: 120px;
        background-color: purple;
        margin: 15px;
        border-radius: 15px;
    }
    
    .serviceHeroTexts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
    }
    
    .our{
        text-align: left;
        width: 100%;
        text-transform: capitalize;
        font-weight: lighter;
        font-family: sans-serif;
        font-size: 45px;
        color: #fff;
    }
    
    .servicesText{
        font-size: 45px;
        color: #fff;
        text-transform: capitalize;
        font-weight: bold;
    }
}

.calltoAction .calltoActionsvg{
    fill: purple;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.servicesShowCase{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.headerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.boldeHeader{
    color: #000;
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
    font-family: sans-serif;
}

.lightHeading{
    font-weight: lighter;
    font-size: 25px;
    font-family: Arial;
    color: #353232;
}

.smallSentence{
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    color: #353232;
}

.servicesContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.serviceCard{
    width: 280px;
    height: 330px;
    border-radius: 10px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
    margin: 0 35px;
}

.serviceCard img{
    width: 100%;
    height: 45%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.serviceDetailsCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.serviceName{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    text-align: left;
    width: 100%;
    text-transform: capitalize;
    padding: 5px;
    padding-left: 0;
}

.serviceDescription{
    font-size: 14px;
}

.calltoActionLink{
    text-decoration: none;
    width: 100%;
    text-align: left;
}

.calltoActionLink .calltoAction{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    font-size: 20px;
    font-weight: lighter;
    color: purple;
}

@media screen and (max-width:767px) {
    .servicesShowCase{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
    }
    
    .headerSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    .boldeHeader{
        color: #000;
        font-size: 30px;
        font-weight: bolder;
        text-transform: capitalize;
        text-align: center;
        font-family: sans-serif;
    }
    
    .lightHeading{
        font-weight: lighter;
        font-size: 25px;
        font-family: Arial;
        color: #353232;
    }
    
    .smallSentence{
        text-align: center;
        font-size: 18px;
        font-family: sans-serif;
        color: #353232;
    }
    
    .servicesContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
    }
    
    .serviceCard{
        width: 280px;
        height: 330px;
        border-radius: 10px;
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
        flex-shrink: 0;
        margin: 15px 35px;
    }
    
    .serviceCard img{
        width: 100%;
        height: 45%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .serviceDetailsCont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    
    .serviceName{
        font-size: 20px;
        font-weight: bold;
        font-family: Arial;
        text-align: left;
        width: 100%;
        text-transform: capitalize;
        padding: 5px;
        padding-left: 0;
    }
    
    .serviceDescription{
        font-size: 14px;
    }
    
    .calltoActionLink{
        text-decoration: none;
        width: 100%;
        text-align: left;
    }
    
    .calltoActionLink .calltoAction{
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 10px;
        font-size: 20px;
        font-weight: lighter;
        color: purple;
    }
}

.pricingSection{
    width: 100%;
    height: 50vh;
    background: url(../images/servicebgd.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pricingOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 0, 128, 0.486);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.bigTitle{
    width: 100%;
    text-align: left;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    font-family: sans-serif;
    padding: 10px;
    text-transform: capitalize;
}

.pricingtext{
    color: #f5f5f5;
    padding-left: 10px;
    padding-right: 50px;
    width: fit-content;
}

@media screen and (max-width:767px){
    .pricingSection{
        width: 100%;
        height: fit-content;
        background: url(../images/servicebgd.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .pricingOverlay{
        width: 100%;
        height: 100%;
        background-color: rgba(128, 0, 128, 0.486);
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .bigTitle{
        width: 100%;
        text-align: left;
        font-size: 40px;
        font-weight: bolder;
        color: #fff;
        font-family: sans-serif;
        padding: 5px 10px;
        text-transform: capitalize;
    }
    
    .pricingtext{
        color: #f5f5f5;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}

.learnMoreAboutPrice{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer{
    height: 100%;
    width: 30%;
    position: relative;
}

.imageContainer img{
    position: absolute;
    left: -30%;
    top: 10%;
    width: 200px;
    height: 200px;
}

.detailsCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bigHeaderText{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: capitalize;
    padding: 10px;
}

.bigHeaderText p{
    font-weight: lighter;
    color: purple;
}

.smallHeaderText{
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    font-family: sans-serif;
    padding: 10px;
}

.contactLinkForBtn{
    text-decoration: none;
}

.quoteBtn{
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: purple;
    color: #fff;
    margin: 10px 0;
    transition: all .5s ease-in-out;
}

.quoteBtn:hover{
    scale: 0.9;
}

@media screen and (max-width:767px){
    .learnMoreAboutPrice{
        background: url(../images/design.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .imageContainer{
        display: none;
        z-index: 0;
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    .imageContainer img{
        position: absolute;
        left: -30%;
        top: 10%;
        width: 200px;
        height: 200px;
    }
    
    .detailsCont{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .bigHeaderText{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: sans-serif;
        text-transform: capitalize;
        padding: 10px 5px;
        width: 100%;
    }
    
    .bigHeaderText p{
        font-weight: lighter;
        color: purple;
    }
    
    .smallHeaderText{
        text-align: center;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: lighter;
        font-family: sans-serif;
        padding: 5px;
    }
    
    .contactLinkForBtn{
        text-decoration: none;
    }
    
    .quoteBtn{
        padding: 15px;
        text-align: center;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 15px;
        background-color: purple;
        color: #fff;
        margin: 10px 0;
        transition: all .5s ease-in-out;
    }
    
    .quoteBtn:hover{
        scale: 0.9;
    }
}